@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Создаем условия для вашего комфорта! Для просмотра товаров перейдите в <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Catalog">Каталог</a></h1>
</div>
<img src="~/img/811OxrJFusL._SL1500_.jpg">
