@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>

<body id="reg-form">
    
    <ul>
        <li>
            
            <input name="login" type="text"  placeholder="Введите логин"/>
            <p id="login-error"></p>
        </li>

        <li>
            <input name="password" type="password" value="" placeholder="Введите пароль" />
            <p id="password-error"></p>
        </li>

        <li>
            <input name="password_repeat" type="password" value="" placeholder="Повторите пароль" />
            <p id="passwordrepeat-error"></p>
        </li>

        <li>
            <input id="submit-reg" type="submit" value="Зарегестрироваться" />
            <p id="button-error"></p>
        </li>
        
        
        
        
    </ul>
    
    


</body>
<script src="~/js/Registration.js"></script>