@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
    <h3>Вход в систему</h3>
    <input id="Login" type="text" placeholder="Login" />
    <p id="Login-error"></p>
    <input id="Password" type="password" placeholder="Password" />
    <p id="Password-error"></p>
    <input id="SignIn" type="button" value="button" />
    <p id="SignIn-error"></p>



</body>
<script src="~/js/Authorization.js"></script>